.SignupPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../img1.jpg);
  background-size: cover;
  background-position: center;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
}
.card h2 {
  font-size: 30px;
}
.card p {
  font-size: large;
  padding-bottom: 10px;
}
a {
  color: black;
}
button {
  margin-bottom: 10px !important; 
}
.Createanaccount p {
  text-align: center;
}
